<?xml version="1.0" encoding="utf-8"?>
<launch>
    
	<include file="$(find dji_sdk)/launch/sdk.launch"/>
    
	<node pkg="odometry_synthesizer" type="odometry_synthesizer_node" name="odometry_synthesizer_node" output="screen">
	</node>
    
    <node pkg="onboard_planner" type="onboard_planner_node" name="onboard_planner" output="screen">
        <rosparam file="$(find onboard_planner)/config/onboard_planner_params.yaml" command="load" />
    </node>
</launch>

